/* Sanrio */

.floating-icon {
    display: none !important;
}

.light,
[data-theme="light"] {
    /* 主题色 */
    --heroui-primary: 350 70% 75% !important;
    --custom-content1-opacity: 0.7!important;
    --custom-content2-opacity: 0.8 !important;
    /* 写base64可以不从网络加载图片 */
    --custom-background-image: url("https://images8.alphacoders.com/136/thumb-1920-1361380.png");
}

.dark,
[data-theme="dark"] {
    /* 主题色 */
    --heroui-primary: 45 80% 43% !important;
    --custom-content1-opacity: 0.7 !important;
    --custom-content2-opacity: 0.8 !important;
    /* 写base64可以不从网络加载图片 */
    --custom-background-image: url("https://images8.alphacoders.com/119/thumb-1920-1197467.jpg");
}
html {
    --heroui-background: none !important;
    background: transparent !important;
    background-image: var(--custom-background-image) !important;
    background-size: cover !important;
}

.bg-default {
    opacity: var(--custom-content1-opacity) !important;
}

.bg-default-100 {
    opacity: var(--custom-content1-opacity) !important;
}

.bg-default-200 {
    opacity: var(--custom-content1-opacity) !important;
}

.bg-content1 {
    opacity: var(--custom-content1-opacity) !important;
}

.bg-content2 {
    opacity: var(--custom-content2-opacity) !important;
}

.bg-primary {
    opacity: var(--custom-content1-opacity) !important;
}

.bg-primary\/30 {
    background-color: hsl(var(--heroui-primary)) !important;
    opacity: var(--custom-content1-opacity) !important;
}

.bg-secondary\/30 {
    background-color: hsl(var(--heroui-secondary)) !important;
    opacity: var(--custom-content1-opacity) !important;
}

.main .sticky {
    backdrop-filter: blur(8px);
}
